{% extends 'base.html.twig' %}

{% block title %}Hello CalenderController!{% endblock %}

{% block body %}
    <div class="bg-purple-300" {{ react_component('Hello', { fullName: 'Fabien' }) }}>
        Loading... <i class="fas fa-cog fa-spin fa-3x"></i>
    </div>
{% endblock %}
